---
layout: default
title: Publications
has_children: true
has_toc: false
child_nav_order: reversed
nav_order: 10
---


<section class="section">
  <div class="container">
    <h1 class="title is_primary"><b>Publications</b></h1>

    {% for y in site.data.publications %}
    {% for p in y.publications %}
    <div class="article-container" style="margin-bottom: 30px;">
      <div>
        [<b>{{ p.venue-acronym }} {{ y.year }}</b>] 
        <u>{{ p.title }}</u>
        {% if p.doi %} <a href="https://dx.doi.org/{{ p.doi }}" style="opacity: 50%;">{{ p.doi }}</a> {% endif %}
      </div>
      <div>
        {% for a in p.authors %}
          <i>{{ a.name }}</i>{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
      </div>
      <div>{{ p.venue }}</div>
      {%- include paper_artifacts.html paper=p -%}
      {%- include paper_links.html paper=p nutshell=true -%}
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</section>
