// The variables are in _sass/support/_variables.scss and light.scss in the just-the-docs theme, and in 
// See: https://just-the-docs.github.io/just-the-docs/docs/customization/#define-a-custom-scheme
$body-font-family: 'EB Garamond', serif;
$root-font-size: 16px; 
$body-line-height: 1.2;
$content-line-height: 1.25;
$body-text-color: $grey-dk-300;
$body-heading-color: #000;
$link-color: $blue-200;
