{% comment %} Access to the EB Garamond font. The parameters after wght is the normal and bold weights. {% endcomment %}
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@403;700&display=swap" rel="stylesheet">
{% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:wght@400&display=swap"> {% endcomment %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fondamento:wght@400&display=swap">
{% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Modern+Antiqua:wght@400&display=swap"> {% endcomment %}

    
