{%- comment -%}
  Include as: {%- include components/sidebar.html -%}
  Depends on: page(?), site.
  Results in: HTML for the side bar.
  Includes:
    title.html, components/site_nav.html, nav_footer_custom.html
  Overwrites:
    nav_footer_custom.
  Should not be cached, because nav_footer_custom.html might depend on page.
{%- endcomment -%}

<div class="side-bar">
  <div class="side-bar-background"></div>
  <div class="site-header" role="banner">
    <a href="{{ '/' | relative_url }}" class="site-title lh-tight">{% include title.html %}</a>
    <button id="menu-button" class="site-button btn-reset" aria-label="Toggle menu" aria-pressed="false">
      <svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
    </button>
  </div>

  <nav class="site-nav">
    {% if page.odoc.toc != empty %}
    <div class="nav-collapse"><span>Site navigation</span></div>
    {% endif %}

    {% include_cached components/site_nav.html %}

    {% if page.odoc.toc != empty %}
    <div class="nav-collapse"><span>Page contents</span></div>
    <nav class="site-nav">
    <ul class="nav-list">
      {%- for node in page.odoc.toc -%}
        <li class="nav-list-item active">
          {% if node.children != empty %}
            <button class="nav-list-expander btn-reset" aria-label="toggle items in {{ node.title }} category" aria-pressed="true">
              <svg viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#svg-arrow-right"></use></svg>
            </button>
          {%endif%}
          <a href="{{ node.href }}" class="nav-list-link">{{ node.title }}</a>
          {% if node.children != empty %}
          <ul class="nav-list">
            {%- for node in node.children -%}
            <li class="nav-list-item">
              {% if node.children != empty %}
                <button class="nav-list-expander btn-reset" aria-label="toggle items in {{ node.title }} category" aria-pressed="false">
                  <svg viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#svg-arrow-right"></use></svg>
                </button>
              {%endif%}
              <a href="{{ node.href }}" class="nav-list-link">{{ node.title }}</a>
              {% if node.children != empty %}
              <ul class="nav-list">
                {%- for node in node.children -%}
                <li class="nav-list-item">
                  <a href="{{ node.href }}" class="nav-list-link">{{ node.title }}</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </nav>
    {% endif %}
  </nav>

  {% capture nav_footer_custom %}
    {%- include nav_footer_custom.html -%}
  {% endcapture %}
  {% if nav_footer_custom != "" %}
    {{ nav_footer_custom }}
  {% else %}
    <footer class="site-footer">
      This site uses <a href="https://github.com/just-the-docs/just-the-docs">Just the Docs</a>, a documentation theme for Jekyll.
    </footer>
    {% endif %}
</div>
