---
title: Codex API
layout: default
compress_html: blanklines
css: ["api", "pygments"]
---

<script src="/assets/js/highlight.pack.js"></script>
<script>hljs.highlightAll();</script>

<div id="wrapper" class="hfeed">
  <nav class="breadcrumb-nav" aria-label="breadcrumb">

    <ol class="breadcrumb-nav-list">
      {% assign breadcrumbs = page.url | split: "/" | shift %}
      {% for b in breadcrumbs %}
      {% capture path %}{{ path }}/{{ b }}{% endcapture %}
      {% if forloop.first %}
      {% assign name = "API" %}
      {% else %}
      {% assign name = b %}
      {% endif %}
      <li class="breadcrumb-nav-list-item">
        {% if forloop.last == false %}
        <a class="nav-link" href="{{ path }}"> {{ name }} </a>
        {% else %}
        <span>{{ name }}</span>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </nav>
  <div id="container" class="mainContainer">
    <div class="pageAPI pages">
      {% assign name = page.odoc.breadcrumbs.last.name %}
      {% unless name == "index" %}
      <h1>Patricia-Tree API - <code>{{ name }}</code></h1>
      {% endunless %}

      {{ page.odoc.preamble }}

      {{ page.odoc.content }}
    </div>
    <div class="clear"></div>
  </div>
</div>
