---
layout: post
---

<section>
  {% comment %}
  Look for a matching entry in _data/publications.yml
  Path to self is used to check match, as it should be unique
  {% endcomment %}
  {% for y in site.data.publications %}
  {% for p in y.publications %}
  {% if p.easy-summary == page.url %}
  {% assign paper = p %}
  {% assign year = y.year %}
  {% break %}
  {% endif %}
  {% endfor %}
  {% if paper %}
  {% break %}
  {% endif %}
  {% endfor %}

  {% if paper %}
    <h1>{{ paper.title }}</h1>
    <div>
      <b>{{ paper.venue-acronym }} {{ year }}</b>
      &mdash;
      {% for a in paper.authors %}
      <i>{{ a.name }}</i>{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
      {% if paper.doi %}&mdash; <a href="https://dx.doi.org/{{ paper.doi }}" style="opacity: 50%;">{{ paper.doi }}</a> {% endif %}
    </div>

    {%- include paper_links.html paper=paper nutshell=false -%}
    {%- include paper_artifacts.html paper=paper -%}

    {% if paper.topics %}  
      <div style="margin-top: 10px;">
        <b>Topics:</b>
        {% for a in paper.topics %}
        {{ a }}{% if forloop.last %}.{% else %}; {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  {{ content }}
</section>
